<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ddj.dudujia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="opuoekym" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.openinstall.APP_KEY"
            android:value="nlc7ss" />

        <activity android:name=".activity.IlleagalActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.CarAddlActivity" />
        <activity android:name=".activity.IlleagalListActivity" />
        <activity
            android:name=".activity.JianceActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity android:name=".activity.JianceCenterActivity" />
        <activity android:name=".activity.CarBasicActivity" />
        <activity android:name=".activity.OfflineReportActivity" />
        <activity android:name=".activity.ProvinceActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.ModifyNicknameActivity" />
    </application>

</manifest>